@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Quattrocento', serif;
  display: grid;
  place-items: center;
  letter-spacing: 0.54px;
  background: #E8E8E8;
}

.container {
  width: 480px;
  height: 630px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.2);
}

/* forms */
form {
  width: 90%;
}

.form-group{
  height: 65px;
}

label{
  position: relative;
  bottom: 3px;
}

input{
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

button{
  cursor: pointer;
  color: #ffffff;
  background: black;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 50px;
  width: 100%;
  font-family: 'Quattrocento', serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

button:hover{
  filter: brightness(200%);
  -webkit-filter: brightness(200%);
  background: rgb(22, 22, 22);
}

.message-container{
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: black;
}